*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-size: 16px;
    width: 100vw;
    height: 100vh;

}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    height: 80px;
    width: 200px;
    padding: 20px;
    outline: none;
    color: white;
    background: #000;
    border-radius: 0.25rem;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 50px;
    transition: .5s;
   

}
#changeBtn:hover{
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;

}
h1{
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff,-1px 1px 0 #fff,
    1px 1px 0 #fff;
}